.DS_Store
.ipynb_checkpoints
lectures/fig_correlations_dump.pkl
hidden
Summary_table.txt
stars.csv
lectures/GMMbayes_rrlyrae.pkl
lectures/SVM_rrlyrae.pkl
lectures/photoz_boosting.pkl
lectures/photoz_forest.pkl
solutions/sample_2e7_design_precessing_higherordermodes_3detectors.h5
lectures/NNphotoz.pkl
lectures/logstrained/
lectures/my_keras_model.h5
lectures/trained_2e7_design_precessing_higherordermodes_3detectors.h5
lectures/correlation_functions.pkl
working/*.h5
working/logs/tensorboard/conv1d/fold/fold_1/train/events.out.tfevents.1783763001.GALAXYBOOK-ANNA.12660.0.v2
temp_out.txt
.vscode/settings.json
working/drsqso.dat
working/logs/tensorboard/conv1d/fold/fold_1/train/events.out.tfevents.1783763075.GALAXYBOOK-ANNA.12660.1.v2
working/logs/**/events.out*
